.DS_Store
__pycache__/
*.pyc
.venv/
demo-pics/

# Flutter
pihdr_companion_app/.dart_tool/
pihdr_companion_app/build/
pihdr_companion_app/.flutter-plugins
pihdr_companion_app/.flutter-plugins-dependencies

